@import "../partials/trabajos";
@import "../partials/pasion";
@import "../partials/header";
@import "../partials/footer";
@import "../partials/index";

*{
    margin: 0;
    padding: 0;
    font-family: $font_header;
}